<%= form_with(model: publication, local: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
        <% publication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :title, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :status, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.collection_select :category,
                                 Publication.categories.map { |cat| [cat.first, cat.first] },
                                 :first,
                                 :second,
                                 class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :date, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.date_select :date, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :link, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :link, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :comment, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_area :comment, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :featured, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <div class="form-check form-check-inline">
        <%= form.check_box :featured, class: 'form-check-input', id: 'check1' %>
        <label class="form-check-label" for="check1">En vedette</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <% if publication.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', publication, method: :delete, class: "text-danger", data: {confirm: 'Are you sure?'} %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if publication.persisted? %>
      <%= link_to "Cancel", publication, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", publications_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>