<section class="jumbotron text-center">
  <div class="container">
    <h1>
      <%= fa_icon("newspaper") %>
      Presse & Publications
      <%= link_to new_publication_path, class: 'btn btn-primary' do %>
        <%= fa_icon('plus') %>
      <% end %>
    </h1>
    <p class="lead text-muted">
      Voici les articles et publications concernant notre initiative COVID3D
    </p>
  </div>
</section>

<p>
  <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapsePresse">
    Presse
  </button>
  <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapsePublication">
    Publication
  </button>
</p>

<div class="collapse.show" id="collapsePresse">
  <h2>Sélection presse</h2>
  <div class="row row-cols-1 row-cols-md-3">
    <% @featured.each do |publication| %>
      <% cache publication do %>
        <%= render publication %>
      <% end %>
    <% end %>
  </div>

  <h2>Presse</h2>
  <table class="table table-responsive">
    <tbody>
    <%= render partial: 'publications/publication_row', collection: @publications.presse, as: :publication, cached: true %>
    </tbody>
  </table>
</div>

<div class="collapse" id="collapsePublication">
  <h2>Publications</h2>
  <div class="row row-cols-1 row-cols-md-3">
    <% @publications.publication.each do |publication| %>
      <% cache publication do %>
        <%= render publication %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
    $('.collapse').collapse({
        toggle: true
    })
</script>
