<footer class="footer text-muted bg-light d-none d-sm-block">
  <div class="container">
    <ul class="list-inline mb-0 float-right">

      <li class="list-inline-item mr-3">
        <%= mail_to "philippe@cochin.fr", "Contact technique", subject: "Site 3D COVID" %></li>
      <li class="list-inline-item mr-3"><%= link_to "CGU", terms_path %></li>
      <li class="list-inline-item mr-3"><%= link_to "Politique de confidentialité", privacy_path %></li>
      <li class="list-inline-item mr-3"><%= render "shared/login_items" %></li>
    </ul>
  </div>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</footer>