<div class="card-deck mb-4 text-center">

  <div class="card mb-3 shadow-sm">
    <%= link_to projet_visiere_path do %>
      <%= image_tag("carte-visiere.jpeg", class: "card-img-top") %>
      <div class="card-footer">
        <h5 class="card-title">Visière</h5>
      </div>
    <% end %>
  </div>

  <div class="card mb-3 shadow-sm">
    <%= link_to projet_masque_path do %>
      <%= image_tag("carte-masque.jpeg", class: "card-img-top") %>
      <div class="card-footer">
        <h5 class="card-title">Masque</h5>
      </div>
    <% end %>
  </div>

  <div class="card mb-3 shadow-sm">
    <%= link_to projet_poignee_path do %>
      <%= image_tag("carte-poignee.jpeg", class: "card-img-top") %>
      <div class="card-footer">
        <h5 class="card-title">Poignée</h5>
      </div>
    <% end %>
  </div>
  
  
  <div class="card mb-3 shadow-sm">
    <%= link_to projet_pousse_seringue_path do %>
      <%= image_tag("carte-pousse-seringue.jpeg", class: "card-img-top") %>
      <div class="card-footer">
        <h5 class="card-title">
            Pousse-seringue
        </h5>
      </div>
    <% end %>
  </div>

  <div class="card mb-3 shadow-sm">
    <%= link_to autres_demandes_path do %>
      <%= image_tag("carte-autres.jpg", class: "card-img-top") %>
      <div class="card-footer">
        <h5 class="card-title">Autre demande urgente</h5>
      </div>
    <% end %>
  </div>
</div>
