<div class="card-deck mb-4 text-center">

  <div class="card mb-3 shadow-sm">
    <%= link_to projet_visiere_path do %>
    <%= image_tag("cards/carte-visiere-43.png", class: "card-img-top") %>
    <div class="card-footer">
      <h5 class="card-title">Visière</h5>
    </div>
    <% end %>
  </div>

  <div class="card mb-3 shadow-sm">
    <%= link_to projet_poignee_path do %>
    <%= image_tag("cards/carte-poignee-43.png", class: "card-img-top") %>
    <div class="card-footer">
      <h5 class="card-title">Poignée</h5>
    </div>
    <% end %>
  </div>

  <div class="card mb-3 shadow-sm">
    <%= link_to projet_masque_path do %>
    <%= image_tag("cards/carte-masque-43.png", class: "card-img-top") %>
    <div class="card-footer">
      <h5 class="card-title">Masque</h5>
    </div>
    <% end %>
  </div>

  <div class="card mb-3 shadow-sm">
    <%= link_to projet_pousse_seringue_path do %>
    <%= image_tag("cards/carte-pousse-seringue-43.png", class: "card-img-top") %>
    <div class="card-footer">
      <h5 class="card-title">
        Pousse-seringue
      </h5>
    </div>
    <% end %>
  </div>
</div>

<div class="card-deck mb-4 text-center">
  <div class="card mb-3 shadow-sm">
    <%= link_to projet_intubation_path do %>
    <%= image_tag("cards/carte-intubation-43.png", class: "card-img-top") %>
    <div class="card-footer">
      <h5 class="card-title">
        Intubation
      </h5>
    </div>
    <% end %>
  </div>

  <div class="card mb-3 shadow-sm">
    <%= link_to projet_bouclier_nasal_path do %>
    <%= image_tag("cards/carte-bouclier-nasal-43.png", class: "card-img-top") %>
    <div class="card-footer">
      <h5 class="card-title">
        Bouclier nasal
      </h5>
    </div>
    <% end %>
  </div>

  <div class="card mb-3 shadow-sm">
    <%= link_to projet_respirateur_path do %>
    <%= image_tag("cards/carte-respirateur-43.png", class: "card-img-top") %>
    <div class="card-footer">
      <h5 class="card-title">
        Respirateur
      </h5>
    </div>
    <% end %>
  </div>

  <div class="card mb-3 shadow-sm">
    <%= link_to projet_masque_plongee_path do %>
    <%= image_tag("cards/carte-masque-plongee-43.png", class: "card-img-top") %>
    <div class="card-footer">
      <h5 class="card-title">
        Masque de plongée
      </h5>
    </div>
    <% end %>
  </div>
</div>

<div class="card-deck mb-4 text-center">
  <div class="card mb-3 shadow-sm">
    <%= link_to projet_pousse_bouton_path do %>
    <%= image_tag("cards/carte-pousse-bouton-43.png", class: "card-img-top") %>
    <div class="card-footer">
      <h5 class="card-title">
        Pousse-bouton
      </h5>
    </div>
    <% end %>
  </div>

  <div class="card mb-3 shadow-sm">
    <%= link_to autres_demandes_path do %>
    <%= image_tag("cards/carte-autres-43.png", class: "card-img-top") %>
    <div class="card-footer">
      <h5 class="card-title">Autre demande urgente</h5>
    </div>
    <% end %>
  </div>
  <div class="card mb-3 shadow-sm">
  </div>
  <div class="card mb-3 shadow-sm">
  </div>
</div>