<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "3D COVID", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Conseil Scientifique", conseil_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Groupes de travail", groupes_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to "Projets", groupes_path, class: "nav-link dropdown-toggle", id:"navbarDropdown", role:"button", "data-toggle":"dropdown", "aria-haspopup":"true", "aria-expanded":"false" %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Visière", projet_visiere_path, class: "dropdown-item" %>
            <%= link_to "Poignée", projet_poignee_path, class: "dropdown-item" %>
            <%= link_to "Masque", projet_masque_path, class: "dropdown-item" %>
            <%= link_to "Pousse-seringue", projet_pousse_seringue_path, class: "dropdown-item" %>
            <%= link_to "Intubation", projet_intubation_path, class: "dropdown-item" %>
            <%= link_to "Masque de plongée", projet_masque_plongee_path, class: "dropdown-item" %>
            <%= link_to "Respirateur", projet_respirateur_path, class: "dropdown-item" %>
            <%= link_to "Bouclier Nasal", projet_bouclier_nasal_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Infrastructure", infrastructure_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Nouvelles", announcements_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%- if current_user.try(:admin) %>
          <%= link_to "Admin", admin_members_path, class: "nav-link text-danger" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>