<% if user_masquerade? %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= link_to back_masquerade_path(current_user) do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <%= link_to "3D COVID", root_path, class: "navbar-brand" %>
    
    <%= link_to "Lieu", location_path, class: "navbar" %>
    <%= link_to "Conseil Scientifique", council_path, class: "navbar" %>
    <%= link_to "Appels urgents", urgent_path, class: "navbar text-danger" %>
    
    <%# link_to "Hospitals", hospitals_path, class: "navbar" %>
    <%# link_to "Products", products_path, class: "navbar" %>
    <%# link_to "Groupes de travail", workgroups_path, class: "navbar" %>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>
