<section class="jumbotron text-center">
  <div class="container">
    <h1>Conseil scientifique</h1>
    <p class="lead text-muted">
      Le Conseil Scientifique évalue les dispositifs proposés par les groupes de travail, teste les prototypes et
      participe à leur validation, avant de coordonner leur mise en fabrication par notre plateforme et nos relais
      industriels.
    </p>
  </div>
</section>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">Jérémy Adam</th>
      <td>fabricant</td>
      <td><%= mail_to "jeremy.adam@bone3d.fr" %></td>
      <td>Responsable groupe Poignée</td>
    </tr>

    <tr>
      <th scope="row">Jean-Pierre Attal</th>
      <td>odontologiste</td>
      <td><%= mail_to "jean-pierre.attal@parisdescartes.fr" %></td>
      <td>Responsable groupe Visière</td>
    </tr>

    <tr>
      <th scope="row">Thomas Baugnon</th>
      <td>DGOS</td>
      <td><%= mail_to "thomas.baugnon@aphp.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Ludovic Bénichou</th>
      <td>médecin</td>
      <td><%= mail_to "lbenichou@hpsj.fr" %></td>
      <td>Responsable groupe Masque de plongée</td>
    </tr>

    <tr>
      <th scope="row">Carine Chevrier</th>
      <td>APHP</td>
      <td><%= mail_to "carine.chevrier12@gmail.com" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Brice Dallagnol</th>
      <td>ingénieur</td>
      <td><%= mail_to "brice.dallagnol@hotmail.com" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Pierre-François Ceccaldi</th>
      <td>médecin</td>
      <td><%= mail_to "pf.ceccaldi@aphp.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Philippe Cochin</th>
      <td>CTO & lead dev</td>
      <td><%= mail_to "philippe@cochin.fr" %></td>
      <td>Responsable Web</td>
    </tr>

    <tr>
      <th scope="row">Sylvie Cochin</th>
      <td>AMC / AAA</td>
      <td><%= mail_to "sylvie@cochin.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Jean-Michel Constantin</th>
      <td>médecin</td>
      <td><%= mail_to "jean-michel.constantin@aphp.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Souhayl Dahmani</th>
      <td>médecin</td>
      <td><%= mail_to "souhayl.dahmani@gmail.com" %></td>
      <td>Responsable groupe Pousse-seringues</td>
    </tr>

    <tr>
      <th scope="row">Jérémy Dallard</th>
      <td>ingénieur</td>
      <td><%= mail_to "jeremy.dallard@ensta-paristech.fr" %></td>
      <td>Responsable groupe Intubation</td>
    </tr>

    <tr>
      <th scope="row">Baudoin de Metz</th>
      <td>fabricant</td>
      <td><%= mail_to "baudoindemetz@gmail.com" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Jacques de Montblanc</th>
      <td>médecin</td>
      <td><%= mail_to "jacques.de-montblanc@aphp.fr" %></td>
      <td>Responsable groupe Intubation</td>
    </tr>

    <tr>
      <th scope="row">Vincent Degos</th>
      <td>médecin</td>
      <td><%= mail_to "vincent.degos@aphp.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Jean-Guillaume Enault</th>
      <td>chef produit IoT</td>
      <td><%= mail_to "jg.enault@gmail.com" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Vincent Fouquet</th>
      <td>odontologiste</td>
      <td><%= mail_to "vincent.fouquet@parisdescartes.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Anne-Laure Gaultier</th>
      <td>médecin</td>
      <td><%= mail_to "anne-laure.gaultier@aphp.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Serge Kétoff</th>
      <td>médecin</td>
      <td><%= mail_to "sketoff@hpsj.fr" %></td>
      <td>Responsable groupe Masque de plongée</td>
    </tr>

    <tr>
      <th scope="row">Roman Hossein Khonsari</th>
      <td>médecin</td>
      <td><%= mail_to "3d.covid@aphp.fr" %></td>
      <td>Coordination du réseau</td>
    </tr>

    <tr>
      <th scope="row">Nicolas Kogane</th>
      <td>médecin</td>
      <td><%= mail_to "nikogane@gmail.com" %></td>
      <td>Responsable du groupe Bouclier Nasal</td>
    </tr>

    <tr>
      <th scope="row">Thomas Landrain</th>
      <td>entrepreneur</td>
      <td><%= mail_to "thomas@jogl.io" %></td>
      <td>Responsable groupe Masque</td>
    </tr>

    <tr>
      <th scope="row">Sébastienn Laporte</th>
      <td>ingénieur</td>
      <td><%= mail_to "sebastien.laporte@ensam.eu" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Stéphane Legoff</th>
      <td>ingénieur</td>
      <td><%= mail_to "stephane.le-goff@parisdescartes.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Vincent Lemarteleur</th>
      <td>ingénieur</td>
      <td><%= mail_to "vincent.lemarteleur@univ-paris-diderot.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Vincent Midler</th>
      <td>ingénieur</td>
      <td><%= mail_to "vincent.midler@aphp.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Cécile Monteil</th>
      <td>médecin</td>
      <td><%= mail_to "cecile.monteil@aphp.fr" %></td>
      <td>Responsable groupe Respirateur</td>
    </tr>

    <tr>
      <th scope="row">Pascal Morenton</th>
      <td>ingénieur</td>
      <td><%= mail_to "pascal.morenton@centralesupelec.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Manuelle Panczer</th>
      <td>AGEPS</td>
      <td><%= mail_to "manuelle.panczer@aphp.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Sylvie Pigeron</th>
      <td>AGEPS</td>
      <td><%= mail_to "sylvie.pigeron@aphp.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Patrick Plaisance</th>
      <td>médecin</td>
      <td><%= mail_to "patrick.plaisance@aphp.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Laurent Tapie</th>
      <td>ingénieur</td>
      <td><%= mail_to "laurent.tapie@univ-paris13.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Guillaume Tassin</th>
      <td>comptable</td>
      <td><%= mail_to "guillaume.tassin@kwfrance.com" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Bertrand Tavitian</th>
      <td>médecin</td>
      <td><%= mail_to "bernard.tavitian@inserm.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Pierre-Louis Tharaux</th>
      <td>médecin</td>
      <td><%= mail_to "pierre-louis.tharaud@inserm.fr" %></td>
      <td></td>
    </tr>

  </tbody>
</table>