<section class="jumbotron text-center">
  <div class="container">
    <h1>Conseil scientifique</h1>
  </div>
</section>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Métier</th>
      <th scope="col">Mail</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Jérémy Adam</th>
      <td>ingénieur</td>
      <td><%= mail_to "jeremy.adam@bone3d.fr" %></td>
      <td>Responsable poignées</td>
    </tr>

    <tr>
      <th scope="row">Jean-Pierre Attal</th>
      <td>odontologiste</td>
      <td><%= mail_to "jean-pierre.attal@parisdescartes.fr" %></td>
      <td>Responsable groupe visières</td>
    </tr>

    <tr>
      <th scope="row">Thomas Baugnon</th>
      <td>médecin</td>
      <td><%= mail_to "thomas.baugnon@aphp.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Pierre-François Ceccaldi</th>
      <td>médecin</td>
      <td><%= mail_to "pf.ceccaldi@aphp.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Philippe Cochin</th>
      <td>développeur</td>
      <td><%= mail_to "philippe.cochin@gmail.com" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Jean-Michel Constantin</th>
      <td>médecin</td>
      <td><%= mail_to "jean-michel.constantin@aphp.fr" %></td>
      <td>Responsable groupe valve</td>
    </tr>

    <tr>
      <th scope="row">Souhayl Dahmani</th>
      <td>médecin</td>
      <td><%= mail_to "souhayl.dahmani@gmail.com" %></td>
      <td>Responsable groupe pousse-seringues</td>
    </tr>

    <tr>
      <th scope="row">Jérémie Dallard</th>
      <td>ingénieur</td>
      <td><%= mail_to "jeremie.dallard@ensta-paristech.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Baudoin de Metz</th>
      <td>fabriquant</td>
      <td><%= mail_to "baudoindemetz@gmail.com" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Vincent Degos</th>
      <td>médecin</td>
      <td><%= mail_to "vincent.degos@aphp.fr" %></td>
      <td>Responsable groupe valve</td>
    </tr>

    <tr>
      <th scope="row">Jean-Guillaume Enault</th>
      <td>chef produit IoT</td>
      <td><%= mail_to "jg.enault@gmail.com" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Vincent Fouquet</th>
      <td>odontologiste</td>
      <td><%= mail_to "vincent.fouquet@parisdescartes.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Roman Hossein Khonsari</th>
      <td>médecin</td>
      <td><%= mail_to "roman.khonsari@aphp.fr" %></td>
      <td>Coordination du réseau</td>
    </tr>

    <tr>
      <th scope="row">Nicolas Kogane</th>
      <td>interne en chirurgie</td>
      <td><%= mail_to "nikogane@gmail.com" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Stéphane Legoff</th>
      <td>ingénieur</td>
      <td><%= mail_to "stephane.le-goff@parisdescartes.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Vincent Lemarteleur</th>
      <td>ingénieur</td>
      <td><%= mail_to "vincent.lemarteleur@univ-paris-diderot.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Pascal Morenton</th>
      <td>ingénieur</td>
      <td><%= mail_to "pascal.morenton@centralesupelec.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Laurent Tapie</th>
      <td>ingénieur</td>
      <td><%= mail_to "laurent.tapie@univ-paris13.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Guillaume Tassin</th>
      <td>comptable</td>
      <td><%= mail_to "guillaume.tassin@kwfrance.com" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Bertrand Tavitian</th>
      <td>médecin</td>
      <td><%= mail_to "bernard.tavitian@inserm.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Cécile Monteil</th>
      <td>médecin</td>
      <td><%= mail_to "cecile.monteil@aphp.fr" %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Pierre-Louis Tharaux</th>
      <td>médecin</td>
      <td><%= mail_to "pierre-louis.tharaud@inserm.fr" %></td>
      <td></td>
    </tr>
    
  </tbody>
</table>
