<section class="jumbotron text-center">
  <div class="container">
    <h1>Ingénieurs</h1>
    <p class="lead text-muted">Vous souhaitez contribuer à l'élaboration de moyens de réponse rapides et innovants pour la crise COVID-19.</p>
  </div>
</section>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Projet</th>
      <th scope="col">Responsable</th>
      <th scope="col">Mail</th>
      <th scope="col">Téléphone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Visières</th>
      <td>Attal</td>
      <td><%= mail_to "changeme@changeme.com" %></td>
      <td>01.23.45.67.89</td>
    </tr>
    <tr>
      <th scope="row">Valves</th>
      <td>Degos / Constantin</td>
      <td><%= mail_to "changeme@changeme.com" %></td>
      <td>01.23.45.67.89</td>
    </tr>
    <tr>
      <th scope="row">Répartiteur</th>
      <td>à déterminer</td>
      <td><%= mail_to "changeme@changeme.com" %></td>
      <td>01.23.45.67.89</td>
    </tr>
    <tr>
      <th scope="row">Pousse-seringue</th>
      <td>Dhamani</td>
      <td><%= mail_to "changeme@changeme.com" %></td>
      <td>01.23.45.67.89</td>
    </tr>
    <tr>
      <th scope="row">Respirateurs</th>
      <td>à définir</td>
      <td><%= mail_to "changeme@changeme.com" %></td>
      <td>01.23.45.67.89</td>
    </tr>
    <tr>
      <th scope="row">Masques</th>
      <td>à définir</td>
      <td><%= mail_to "changeme@changeme.com" %></td>
      <td>01.23.45.67.89</td>
    </tr>
    <tr>
      <th scope="row">Poignées sans contact</th>
      <td>Adam</td>
      <td><%= mail_to "changeme@changeme.com" %></td>
      <td>01.23.45.67.89</td>
    </tr>
  </tbody>
</table>
