<section class="jumbotron text-center">
  <div class="container">
    <h1>Groupes de travail</h1>
    <p class="lead text-muted">
      La conception et la fabrication des dispositifs suivants sont des priorités sanitaires.
      Les groupes de travail ont pour objectif de mettre au point et valider des solutions standard pour toutes nos
      équipes afin de les produire en grande quantité.
    </p>
  </div>
</section>

<table class="table table-striped">
  <thead class="thead">
    <tr>
      <th scope="col">Groupe</th>
      <th scope="col">Responsable</th>
      <th scope="col">Mail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <%= link_to projet_masque_path do %>
        Masque
        <% end %>
      </th>
      <td>Landrain</td>
      <td><%= mail_to "thomas@jogl.io" %></td>
    </tr>
    <tr>
      <th scope="row">
        <%= link_to projet_poignee_path do %>
        Poignée
        <% end %>
      </th>
      <td>Adam</td>
      <td><%= mail_to "jeremy.adam@bone3d.fr" %></td>
    </tr>
    <tr>
      <th scope="row">
        <%= link_to projet_pousse_seringue_path do %>
        Pousse-seringue
        <% end %>
      </th>
      <td>Dahmani</td>
      <td><%= mail_to "souhayl.dahmani@gmail.com" %></td>
    </tr>
    <tr>
      <th scope="row">
        <%= link_to projet_intubation_path do %>
        Intubation
        <% end %>
      </th>
      <td>de Montblanc / Dallard</td>
      <td><%= mail_to "jacques.de-montblanc@aphp.fr" %> <%= mail_to "jeremy.dallard@ensta-paristech.fr" %></td>
    </tr>
    <tr>
      <th scope="row">
        <%= link_to projet_respirateur_path do %>
        Respirateur
        <% end %>
      </th>
      <td>Monteil</td>
      <td><%= mail_to "cecile.monteil@aphp.fr" %></td>
    </tr>
    <tr>
      <th scope="row">
        <%= link_to projet_bouclier_nasal_path do %>
        Bouclier nasal
        <% end %>
      </th>
      <td>Kogane</td>
      <td>
        <%= mail_to "nicolas.kogane@gmail.com" %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <%= link_to projet_visiere_path do %>
        Visière
        <% end %>
      </th>
      <td>Attal</td>
      <td><%= mail_to "jean-pierre.attal@parisdescartes.fr" %></td>
    </tr>
    <tr>
      <th scope="row">
        <%= link_to projet_aspirateur_mucosites_path do %>
        Aspirateur de mucosités
        <% end %>
      </th>
      <td>Adam</td>
      <td><%= mail_to "jeremy.adam@bone3d.fr" %></td>
    </tr>
    <tr>
      <th scope="row">
        <%= link_to projet_masque_ventilation_path do %>
        Masque de ventilation non-invasive
        <% end %>
      </th>
      <td>Adam</td>
      <td><%= mail_to "jeremy.adam@bone3d.fr" %></td>
    </tr>
    <tr>
      <th scope="row">
        <%= link_to projet_pousse_bouton_path do %>
        Pousse-bouton
        <% end %>
      </th>
      <td>Adam</td>
      <td><%= mail_to "jeremy.adam@bone3d.fr" %></td>
    </tr>
    <tr>
      <th scope="row">
        <%= link_to projet_masque_plongee_path do %>
        Masque Plongée
        <% end %>
      </th>
      <td>à déterminer</td>
      <td></td>
    </tr>
  </tbody>
</table>