<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <%= image_tag("logo-3d-covid.png", height: 80) %>
  <%= image_tag("logo-APHP.gif", height: 80) %>
  <br />
  <br />
  <p class="lead">
    Fédération des initiatives de conception et d’impression 3D pour lutter contre le COVID-19
  </p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Ingénieur</h4>
      </div>
      <%= image_tag("designer.jpeg", class: "card-img-top") %>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li></li>
        </ul>
        <%= link_to designers_path do %>
          <button type="button" class="btn btn-lg btn-block btn-primary">Je veux aider</button>
        <% end %>
        <%= link_to ingenieur_projets_path do %>
          <button type="button" class="btn btn-lg btn-block btn-info">J'ai un projet</button>
        <% end %>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Soignant</h4>
      </div>
      <%= image_tag("caducee.jpg", class: "card-img-top") %>
      <div class="card-body">
        <%= link_to medics_path do %>
          <button type="button" class="btn btn-lg btn-block btn-primary">J'ai un besoin</button>
        <% end %>
        <%= link_to "#" do %>
          <button type="button" class="btn btn-lg btn-block btn-info">J'ai un projet</button>
        <% end %>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Fabricant</h4>
      </div>
      <%= image_tag("fabriquant.jpeg", class: "card-img-top") %>
      <div class="card-body">
        <%= link_to makers_path do %>
          <button type="button" class="btn btn-lg btn-block btn-primary">Je veux aider</button>
        <% end %>
        <%= link_to "#" do %>
          <button type="button" class="btn btn-lg btn-block btn-info">J'ai un projet</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<hr />
<div class="container bg-faded">
  <div class="row">
    <div class="sm-12 text-center">
      <%= image_tag("logo-ministere-sante.png", height: 100) %>
      <%= image_tag("logo-dges.jpg", height: 100) %>
      <%= image_tag("logo-univ-paris.jpg", height: 100) %>
      <%= image_tag("logo-sauver-la-vie.jpg", height: 100) %>
      <%= image_tag("logo-ageps.jpg", height: 100) %>
      <%= image_tag("logo-AAA.jpeg", height: 100) %>
      <%= image_tag("logo-AMC.jpeg", height: 100) %>
      <%= image_tag("logo-ilumens.jpg", height: 100) %>
      <%= image_tag("logo-imagine.jpg", height: 100) %>
      <%= image_tag("logo-centrale.jpg", height: 100) %>
      <%= image_tag("logo-urb2i.jpg", height: 100) %>
      <%= image_tag("logo-HEGP.jpg", height: 100) %>
      <%= image_tag("logo-ensta.jpg", height: 100) %>
      <%= image_tag("logo-bone3d.png", height: 100) %>
    </div>
  </div>
</div>