<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <%= image_tag("logo-3d-covid.png", height: 80) %>
  <%= image_tag("logo-APHP.gif", height: 80) %>
  <br />
  <br />
  <p class="lead">
    <h5>CONCEVOIR - VALIDER - FABRIQUER - DISTRIBUER - COMBATTRE LE VIRUS</h5>
    <br />
    Fédération des initiatives de conception et d’impression 3D pour lutter contre le COVID-19 en Île-de-France
    <br />
    Plateforme interne d'impression haut-débit
  </p>
</div>
<hr>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Ingénieur</h4>
      </div>
      <%= image_tag("card-valve.png", class: "card-img-top") %>
      <div class="card-body">
      </div>
      <div class="card-footer">
        <%= link_to ingenieur_aide_path do %>
          <button type="button" class="btn btn-lg btn-block btn-primary">Je veux aider</button>
        <% end %>
        <%= link_to ingenieur_projets_path do %>
          <button type="button" class="btn btn-lg btn-block btn-info">J'ai un projet</button>
        <% end %>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Soignant</h4>
      </div>
      <%= image_tag("caducee.jpg", class: "card-img-top") %>
      <div class="card-body">
      </div>
      <div class="card-footer">
        <%= link_to soignant_demandes_path do %>
          <button type="button" class="btn btn-lg btn-block btn-primary">J'ai un besoin</button>
        <% end %>
        <%= link_to soignant_projets_path do %>
          <button type="button" class="btn btn-lg btn-block btn-info">J'ai un projet</button>
        <% end %>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Fabricant</h4>
      </div>
      <%= image_tag("fabriquant.jpeg", class: "card-img-top") %>
      <div class="card-body">
      </div>
      <div class="card-footer">
        <%= link_to fabricant_aide_path do %>
          <button type="button" class="btn btn-lg btn-block btn-primary">Je veux aider</button>
        <% end %>
        <%= link_to fabricant_projets_path do %>
          <button type="button" class="btn btn-lg btn-block btn-info">J'ai un projet</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br />
<hr />
<div class="container">
  <div class="row">
    <div class="sm-12 text-center">
      <%= image_tag("logo-ministere-sante.png", height: 100) %>
      <%= image_tag("logo-dges.jpg", height: 100) %>
      <%= image_tag("logo-univ-paris.jpg", height: 100) %>
      <%= image_tag("logo-sauver-la-vie.jpg", height: 100) %>
      <%= image_tag("logo-ageps.jpg", height: 100) %>
      <%= image_tag("logo-AAA.jpeg", height: 100) %>
      <%= image_tag("logo-AMC.jpeg", height: 100) %>
      <%= image_tag("logo-ilumens.jpg", height: 100) %>
      <%= image_tag("logo-imagine.jpg", height: 100) %>
      <%= image_tag("logo-centrale.jpg", height: 100) %>
      <%= image_tag("logo-urb2i.jpg", height: 100) %>
      <%= image_tag("logo-HEGP.jpg", height: 100) %>
      <%= image_tag("logo-ensta.jpg", height: 100) %>
      <%= image_tag("logo-bone3d.png", height: 100) %>
    </div>
  </div>
</div>