<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">
    <%= image_tag("landing/landing-logo.png", height: 80) %>
    <h4 style="color: #0646ad;">
      CONCEVOIR - VALIDER - FABRIQUER - DISTRIBUER - COMBATTRE LE VIRUS
    </h4>
    <br />
    Plateforme interne d'impression haut-débit pour répondre aux besoins sanitaires urgents des soignants
    <br />
    Fédération des initiatives de conception et d’impression 3D pour lutter contre le COVID-19 en Île-de-France
    <br />
  </p>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">

    <div class="card mb-6 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Soignant</h4>
      </div>
      <%= image_tag("landing/landing-caducee.png", class: "card-img-top") %>
      <div class="card-footer">
        <%= link_to soignant_demandes_path do %>
          <button type="button" class="btn btn-lg btn-block btn-primary">J'ai besoin d'équipement</button>
        <% end %>
      </div>
    </div>

    <div class="card mb-6 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Ingénieur / Fabricant</h4>
      </div>
      <%= image_tag("landing/landing-valve.png", class: "card-img-top") %>
      <div class="card-footer">
        <%= link_to urgent_path do %>
          <button type="button" class="btn btn-lg btn-block btn-primary">Venez nous aider</button>
        <% end %>
      </div>
    </div>

  </div>
</div>

<br />
<hr />
<div class="container">
  <div class="row">
    <div class="sm-12 text-center">
      <%= image_tag("logos/logo-ministere-sante.png", height: 100) %>
      <%= image_tag("logos/logo-dgos.jpg", height: 100) %>
      <%= image_tag("logos/logo-univ-paris.jpg", height: 100) %>
      <%= image_tag("logos/logo-sauver-la-vie.jpg", height: 100) %>
      <%= image_tag("logos/logo-ageps.jpg", height: 100) %>
      <%= image_tag("logos/logo-AMC-banner.png", height: 100) %>
      <%= image_tag("logos/logo-ilumens.jpg", height: 100) %>
      <%= image_tag("logos/logo-imagine.jpg", height: 100) %>
      <%= image_tag("logos/logo-centrale.jpg", height: 100) %>
      <%= image_tag("logos/logo-URB2i.png", height: 100) %>
      <%= image_tag("logos/logo-HEGP.jpg", height: 100) %>
      <%= image_tag("logos/logo-ensta.jpg", height: 100) %>
      <%= image_tag("logos/logo-bone3d.png", height: 100) %>
      <%= image_tag("logos/logo-AAA-banner.png", height: 100) %>
    </div>
  </div>
</div>