<section class="jumbotron text-center">
  <div class="container">
    <h1>Infrastructure</h1>
    <p class="lead text-muted">
      Plateforme interne d'impression haut-débit pour répondre aux besoins sanitaires urgents des soignants.
    </p>
  </div>
</section>

<div class="card-deck">
  <div class="card bg-light">
    <%= image_tag("imprimantes/imprimante-stratasys-4.jpeg", height: '400px', class: "card-img-top", alt: "Imprimante 3D Stratasys F120") %>
    <div class="card-body">
      <h5 class="card-title">Imprimantes dépôt de fil</h5>
      <p class="card-text">
        60 imprimantes professionnelles dépôt de fil de la gamme Fortus de Stratasys.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">2 Stratasys F370</li>
      <li class="list-group-item">14 Stratatasys F170</li>
      <li class="list-group-item">44 Stratasys F120</li>
    </ul>
  </div>
  <div class="card bg-light">
    <%= image_tag("imprimantes/imprimante-stratasys-5.jpeg", height: '400px', class: "card-img-top", alt: "Imprimante 3D Stratasys J750") %>
    <div class="card-body">
      <h5 class="card-title">Imprimantes Polyjet</h5>
      <p class="card-text">
        3 imprimantes Polyjet professionnelles de la marque Stratasys
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          2 Stratasys J750 (dans les locaux de Bone3D)
        </li>
        <li class="list-group-item">
          1 Stratasys J735 (Laboratoire ‘Forme et Croissance du Crâne’, Hôpital Necker - Enfants Malades)
        </li>
      </ul>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <div class="row">
    <div class="col-4 text-center">
      <h4>
        Fabricant
      </h4>
      <br />
      <%= image_tag("logos/logo-stratasys.jpeg", width: '100%', alt: "Stratasys") %>
    </div>
    <div class="col-4 text-center">
      <h4>
        Distributeur
      </h4>
      <br />
      <%= image_tag("logos/logo-cadvision.jpeg", width: '100%', alt: "CAD Vision") %>
    </div>
    <div class="col-4 text-center">
      <h4>
        Gestion
      </h4>
      <br />
      <%= image_tag("logos/logo-bone3d.jpeg", width: '100%', alt: "BONE 3D") %>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <h4 class="text-center">Partenaires industriels</h4>
  <div class="row">
    <div class="col-4 text-center">
      <%= image_tag("logos/logo-Renault.jpeg", width: '100%', alt: "Renault") %>
    </div>
    <div class="col-4 text-center">
      <%= image_tag("logos/logo-Michelin.jpeg", width: '100%', alt: "Michelin") %>
    </div>
    <div class="col-4 text-center">
      <%= image_tag("logos/logo-Dassault.jpeg", width: '100%', alt: "Dassault Systèmes") %>
    </div>
  </div>
</div>
