<section class="jumbotron text-center">
  <div class="container">
    <h1>Ingénieurs</h1>
    <p class="lead text-muted">Vous voulez contribuer aux projets 3D COVID et vous êtes ingénieur? Nous avons besoin de votre expertise!
    </p>
  </div>
</section>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <%= image_tag("poignee.jpeg", class: "card-img-top") %>
      <div class="card-footer">
        <%= link_to workgroups_path do %>
          Participez à un groupe de travail qui vous intéresse
        <% end %>      
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <%= image_tag("stratasys.jpeg", class: "card-img-top") %>
        <div class="card-footer">
          <%= mail_to "jeremy.adam@bone3d.fr" do %>
            Travaillez avec nous sur la plateforme de production
          <% end %>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <%= image_tag("collaboration.jpeg", class: "card-img-top") %>
      
        <div class="card-footer">
          <%= mail_to "roman.khonsari@aphp.fr" do %>
            Proposez la création d'un nouveau groupe de travail
          <% end %>
        </div>
      
    </div>
  </div>
</div>