<section class="jumbotron text-center">
  <div class="container">
    <h1>Groupes de travail</h1>
    <p class="lead text-muted">
      La conception et la fabrication des dispositifs suivants sont des priorités sanitaires.
      Les groupes de travail ont pour objectif de mettre au point et valider des solutions standard pour toutes nos équipes afin de les produire en grande quantité.
    </p>
  </div>
</section>

<table class="table table-striped">
  <thead class="thead">
    <tr>
      <th scope="col">Groupe</th>
      <th scope="col">Responsable</th>
      <th scope="col">Mail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Masques</th>
      <td>à déterminer</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Poignées sans contact</th>
      <td>Adam</td>
      <td><%= mail_to "jeremy.adam@bone3d.fr" %></td>
    </tr>
    <tr>
      <th scope="row">Pousse-seringue</th>
      <td>Dhamani</td>
      <td><%= mail_to "souhayl.dahmani@gmail.com" %></td>
    </tr>
    <tr>
      <th scope="row">Répartiteur</th>
      <td>à déterminer</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Respirateurs</th>
      <td>à déterminer</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Valves</th>
      <td>Constantin / Degos</td>
      <td>
        <%= mail_to "jean-michel.constantin@aphp.fr" %>
        <%= mail_to "vincent.degos@aphp.fr" %>
      </td>
    </tr>
    <tr>
      <th scope="row">Visières</th>
      <td>Attal</td>
      <td><%= mail_to "jean-pierre.attal@parisdescartes.fr" %></td>
    </tr>
  </tbody>
</table>
