<div class="row">
  <div class="col-sm-6">
    <h1>Orders</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to new_order_path, class: 'btn btn-primary' do %>
    Add New Order
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>Hospital</th>
        <th>Reference</th>
        <th>Comment</th>
        <th>Status</th>
        <th>View flag</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
      <%= content_tag :tr, id: dom_id(order), class: dom_class(order) do %>

      <td><%= mail_to order.user.email, order.user.name, encode: "hex" %></td>
      <td><%= order.hospital %></td>
      <td><%= order.reference %></td>
      <td><%= order.comment %></td>
      <td><%= order.status %></td>
      <td><%= order.view_flag %></td>


      <td><%= link_to 'Show', order %></td>

      <% end %>
      <% end %>
    </tbody>
  </table>
</div>