<div class="card shadow-sm">

  <% if project.images.attached? %>
    <%= image_tag(project.images.first.variant(resize_to_fit: [400, 300]).processed, class: "card-img-top", alt: project.short_description) %>
  <% else %>
    <%= image_tag("cards/carte-autres-43.png", class: "card-img-top", alt: project.short_description) %>
  <% end %>

  <div class="card-header">
    <%= link_to project, class: "stretched-link" do %>
      <%= project.name %>
    <% end %>
    <p class="text-muted small">
      <%= project.validation_text %>
    </p>
  </div>
</div>