<%= form_with(model: project, local: true) do |form| %>
<% if project.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

  <ul>
    <% project.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<h2>Description</h2>
<div class="form-group row">
  <%= form.label :name, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= form.text_field :name, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <%= form.label :short_description, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= form.text_field :short_description, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <%= form.label :description, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= form.text_area :description, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <%= form.label :status, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= form.select :status,
        options_for_select([['Prototypage', 1], ['Validation', 2], ['Diffusion', 3]]),
    class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <%= form.label :url, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= form.text_field :url, class: 'form-control' %>
  </div>
</div>

<hr />
<h2>Equipe</h2>
<div class="form-group row">
  <%= form.label :members, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= collection_select(:project, :member_ids, Member.order(:last_name), :id, :name, {}, { :multiple => true }) %>
  </div>
</div>

<hr />
<h2>STLs et Impression 3D</h2>
<div class="form-group row">
  <%= form.label "STLs", class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= form.file_field :stls, multiple: true, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <%= form.label "Technology", class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <div class="form-group form-check">
      <%= form.check_box :fdm, class: 'form-check-input', id: 'check1' %>
      <label class="form-check-label" for="check1">FDM</label>
    </div>
    <div class="form-group form-check">
      <%= form.check_box :advanced, class: 'form-check-input', id: 'check2' %>
      <label class="form-check-label" for="check2">Advanced Printer</label>
    </div>
    <div class="form-group form-check">
      <%= form.check_box :cnc, class: 'form-check-input', id: 'check3' %>
      <label class="form-check-label" for="check3">CNC</label>
    </div>
    <div class="form-group form-check">
      <%= form.check_box :lasercutter, class: 'form-check-input', id: 'check4' %>
      <label class="form-check-label" for="check4">Laser cutter</label>
    </div>
    <div class="form-group form-check">
      <%= form.check_box :electronics, class: 'form-check-input', id: 'check5' %>
      <label class="form-check-label" for="check5">Electronics</label>
    </div>
    <div class="form-group form-check">
      <%= form.check_box :silicone, class: 'form-check-input', id: 'check6' %>
      <label class="form-check-label" for="check6">Silicone</label>
    </div>
  </div>
</div>

<div class="form-group row">
  <%= form.label :printer_settings, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= form.text_area :printer_settings, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <%= form.label :assembly, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= form.text_area :assembly, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <%= form.label :comments, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= form.text_area :comments, class: 'form-control' %>
  </div>
</div>

<h2>Images</h2>
<div class="form-group row">
  <%= form.label :thumbnail, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= form.file_field :thumbnail, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <%= form.label "Images", class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= form.file_field :images, multiple: true, class: 'form-control' %>
  </div>
</div>


<div class="form-group">
  <% if project.persisted? %>
  <div class="float-right">
    <%= link_to 'Destroy', project, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>

  <%= form.submit class: 'btn btn-primary' %>

  <% if project.persisted? %>
  <%= link_to "Cancel", project, class: "btn btn-link" %>
  <% else %>
  <%= link_to "Cancel", projects_path, class: "btn btn-link" %>
  <% end %>
</div>
<% end %>