<section class="jumbotron text-center">
  <div class="container">
    <h1>Catalogue de projets
      <% if policy(Project.new).create? %>
        <%= link_to new_project_path, class: 'btn btn-primary' do %>
          <%= fa_icon("plus") %>
        <% end %>
      <% end %>
    </h1>
    <p class="lead text-muted">
    </p>
  </div>
</section>

<h2>
  <%= fa_icon("user-nurse") %>
  Matériel de protection et de confort
</h2>
<div class="card-columns">
  <%= render partial: '/projects/card', collection: @projects.comfort, as: :project, cached: true %>
</div>

<hr>
<h2>
  <%= fa_icon("briefcase-medical") %>
  Equipement médical
</h2>
<div class="card-columns">
  <%= render partial: '/projects/card', collection: @projects.medical_device, as: :project, cached: true %>
</div>

<hr>
<h2>
  <%= fa_icon("flask") %>
  Recherche & développement
</h2>
<div class="card-columns">
  <%= render partial: '/projects/card', collection: @projects.workgroup, as: :project, cached: true %>
</div>

