<section class="jumbotron text-center">
  <div class="container">
    <h1><%= @project.name %>
      <% if policy(@project).update? %>
        <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
          <%= fa_icon('edit') %>
        <% end %>
      <% end %>
    </h1>
    <p class="lead text-muted">
      <i>
        <%= @project.category %> -
        <%= @project.validation %>
      </i>
      <br/>
      <%= @project.short_description %>
    </p>
  </div>
</section>

<%# <div class="row">
  <div class="col-sm">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="#">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Equipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Impression 3D</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Notice d'assemblage</a>
      </li>
    </ul>
  </div>
</div>
<br /> %>

<div class="row">
  <div class="col-sm-6">
    <%= render partial: "carrousel", locals: {project: @project} %>
  </div>
  <div class="col-sm-6">
    <%= render partial: "card_description", locals: {project: @project} %>
  </div>
</div>

<br/>
<div class="row">
  <div class="col">
    <%= render partial: "card_impression", locals: {project: @project} %>
  </div>
  <div class="col">
    <%= render partial: "card_team", locals: {project: @project} %>
  </div>
</div>

<% if @project.comments? %>
  <div class="row">
    <div class="col">
      <div class="card">
        <h3>Commentaires</h3>
        <%= @project.comments %>
      </div>
    </div>
  </div>
<% end %>