<section class="jumbotron text-center">
  <div class="container">
    <h1><%= @project.name %>
      <% if policy(@project).update? %>
      <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
      <%= fa_icon('edit') %>
      <% end %>
      <% end %>
    </h1>
    <p class="lead text-muted">
      <%= @project.short_description %>
    </p>
  </div>
</section>

<div class="row">
  <div class="col-sm">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="#">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Equipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Impression 3D</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Notice d'assemblage</a>
      </li>
    </ul>
  </div>
</div>
<br />

<div class="row">
  <div class="col-sm-6">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @project.images.each_with_index do |image, index| %>
        <% if index == 0 %>
        <div class="carousel-item active">
          <%= image_tag(image, class: "d-block w-100") %>
        </div>
        <% else %>
        <div class="carousel-item">
          <%= image_tag(image, class: "d-block w-100") %>
        </div>
        <% end %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="bg-light">
      <h4>Description</h4>
      <%== @project.description_html %>
    </div>
    <br />
    <div class="bg-light">
      <h4>Statut d'avancement</h4>
      <%= @project.status %>
    </div>
    <br />
    <div class="bg-light">
      <h4>Site externe: </h4>
      <%= link_to "Lien externe", @project.url %>
    </div>
    <br />
    <div class="bg-light">
      <h4>Equipe du projet</h4>
      <% @project.members.each do |member| %>
      <%= render member %>
      <% end %>
    </div>
    <br />
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Impression 3D</h3>

    <h4>Technologies utilisées</h4>
    <ul>
      <% if @project.fdm %>
      <li>FDM</li>
      <% end %>
      <% if @project.advanced %>
      <li>Advanced printer</li>
      <% end %>
      <% if @project.cnc %>
      <li>CNC</li>
      <% end %>
      <% if @project.lasercutter %>
      <li>Lasercutter</li>
      <% end %>
      <% if @project.electronics %>
      <li>Electronics</li>
      <% end %>
      <% if @project.silicone %>
      <li>Silicone</li>
      <% end %>
    </ul>

    <h4>STLs</h4>
    <% if @project.stls.attached? %>
    <ul>
      <% @project.stls.each do |stl| %>
      <li>
        <%= link_to stl.filename, rails_blob_path(stl, disposition: 'attachment'), class: "btn btn-outline-primary" %>
      </li>
      <% end %>
    </ul>
    <% else %>
    Aucun STL n'a encore été publié.
    <% end %>

    <% if @project.technology.present? %>
    <h4>Technologie</h4>
    <%= @project.technology %>
    <% end %>

    <% if @project.printer_settings.present? %>
    <h4>Réglages d'imprimante</h4>
    <%= @project.printer_settings %>
    <% end %>

    <% if @project.assembly.present? %>
    <h4>Assemblage</h4>
    <%= @project.assembly %>
    <% end %>

  </div>
</div>

<hr />
<div class="row">
  <div class="col">
    <h3>Commentaires</h3>
    <%= @project.comments %>
  </div>
</div>