<section class="my-5 flex-row d-flex justify-content-between">
  <div>
    <div class="d-flex flex-row align-items-center flex-wrap">
      <h1 class="display-3 mr-4">
        <%= @project.name.upcase %>
      <h1>
      <h4 class=""><span class="badge badge-secondary my-2"><%= project_status_in_words(@project).capitalize %></span></h4>
    </div>
    <% if @project.short_description.present? %>
      <p class="lead text-muted font-italic">
        <%= @project.short_description %>
      </p>
    <% end %>
  </div>

  <% if policy(@project).update? %>
    <div>
      <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
        Edit
        <%= fa_icon('edit') %>
      <% end %>
    </div>
  <% end %>
</section>

<% if @project.images.any? %>
  <section class="d-flex flex-row flex-wrap my-5">
    <% @project.images.each_with_index do |image, index| %>
      <div class="flex-grow-1 w-25">
        <%= image_tag(image.variant(resize_to_limit: [280, 280]).processed, class: "img-thumbnail w-100 h-100", style: "object-fit: cover; max-height: 280px") %>
      </div>
    <% end %>
  </section>
<% end %>

<% if @project.description.present? || @project.url.present? %>
  <blockquote class="blockquote my-5">
    <%== @project.description_html %>
    <% if @project.url.present? %>
      <strong><%= link_to "Voir le site du projet", @project.url %></strong>
    <% end %>
  </blockquote>
<% end %>

<section class="my-5">
  <h2 class="my-4 display-4">Impression</h2>

    <h5>Technologies utilisées</h5>
    <ul>
      <% if @project.fdm %>
        <li>FDM</li>
      <% end %>

      <% if @project.advanced %>
        <li>Advanced printer</li>
      <% end %>
      
      <% if @project.cnc %>
        <li>CNC</li>
      <% end %>
      
      <% if @project.lasercutter %>
        <li>Lasercutter</li>
      <% end %>
      
      <% if @project.electronics %>
        <li>Electronics</li>
      <% end %>
      
      <% if @project.silicone %>
        <li>Silicone</li>
      <% end %>
    </ul>


    <h5>Fichier(s) STL</h5>
      <% if @project.stls.attached? %>
      <ul>
        <% @project.stls.each do |stl| %>
        <li>
          <%= link_to stl.filename, rails_blob_path(stl, disposition: 'attachment'), class: "btn btn-outline-primary" %>
        </li>
        <% end %>
      </ul>
      <% else %>
      Aucun fichier STL n'a encore été publié.
      <% end %>

    <% if @project.technology.present? %>
      <div class="my-3">
        <h5>Technologie</h5>
        <%= @project.technology %>
      </div>
    <% end %>

    <% if @project.printer_settings.present? %>
      <div class="my-3">
        <h5>Réglages d'imprimante</h5>
        <blockquote class="blockquote"><%= @project.printer_settings %></blockquote>
      </div>
    <% end %>

    <% if @project.assembly.present? %>
      <div class="my-3">
        <h5>Assemblage</h5>
        <blockquote class="blockquote"><%= @project.assembly %></blockquote>
      </div>
    <% end %>

</section>

<% if @project.members.any? %>
  <section class="my-5">
    <h2 class="my-4 display-4">L'équipe</h2>
    <% @project.members.each do |member| %>
      <%= render member %>
    <% end %>
  </section>
<% end %>

<hr />
<div class="row">
  <div class="col">
    <%= @project.comments %>
  </div>
</div>