<%= form_with(model: hospital, local: true) do |form| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
      <% hospital.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :full_address %>
    <%= form.text_field :full_address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :administrative_contact_name %>
    <%= form.text_field :administrative_contact_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :administrative_contact_email %>
    <%= form.text_field :administrative_contact_email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if hospital.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', hospital, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if hospital.persisted? %>
      <%= link_to "Cancel", hospital, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", hospitals_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
