


<div class="row">
  <div class="col-sm-6">
    <h1>Machines</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_machine_path, class: 'btn btn-primary' do %>
    Add New Machine
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Type</th>
            <th>Advanced</th>
            <th>Boolean</th>
            
      </tr>
    </thead>

    <tbody>
      <% @machines.each do |machine| %>
        <%= content_tag :tr, id: dom_id(machine), class: dom_class(machine) do %>
          
            <td><%= link_to machine.name, machine %></td>
          

                      <td><%= machine.type %></td>
                      <td><%= machine.advanced %></td>
                      <td><%= machine.boolean %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
