<div class="row">
  <div class="col-sm-6">
    <h1>Products</h1>
    <p class="lead">
      List of medically validated equipment that can be made using 3d printing and fast prototyping capacities.
    </p>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_product_path, class: 'btn btn-primary' do %>
    Add New Product
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Validated</th>
        <th>Link</th>
        <th>Img</th>
       </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <%= content_tag :tr, id: dom_id(product), class: dom_class(product) do %>
          
            <td><%= link_to product.name, product %></td>
          

                      <td><%= product.category %></td>
                      <td><%= product.validated ? "true" : "false" %></td>
                      <td>
                        <%= link_to "website", product.link %>
                      </td>
                      <td><%= product.img %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
