<div class="page-header">
  <%= link_to suppliers_path, class: 'btn btn-default' do %>
    All Suppliers
  <% end %>
  <%= link_to edit_supplier_path(@supplier), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show supplier</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @supplier.name %></dd>

  <dt>Location:</dt>
  <dd><%= @supplier.location %></dd>

  <dt>Full address:</dt>
  <dd><%= @supplier.full_address %></dd>

  <dt>Phone:</dt>
  <dd><%= @supplier.phone %></dd>

  <dt>Type:</dt>
  <dd><%= @supplier.type %></dd>

  <dt>Production capacity:</dt>
  <dd><%= @supplier.production_capacity %></dd>

  <dt>Available:</dt>
  <dd><%= @supplier.available %></dd>

</dl>
