<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

<head>
  <%= render 'shared/head' %>
  <meta name="google-site-verification" content="oPZOrwPz6owhbfxrK_6UCcXq6xklNhGVS6yA2qJScdw" />
</head>

<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/notices' %>

  <div class="container">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
</body>

</html>
