<tr>
  <td><b><%= member.name %></b></td>
  <td><%= member.job %></td>
  <td><%= mail_to member.email, member.email, encode: "hex" %></td>
  <td><%= member.comment %></td>

  <% if policy(member).update? %>
    <td>
      <%= link_to edit_member_path(member), class: 'btn btn-primary btn-sm' do %>
        <%= fa_icon('edit') %>
      <% end %>
    </td>
  <% end %>
</tr>