<section class="jumbotron text-center">
  <div class="container">
    <h1>
      Conseil scientifique
      <% if policy(Member.new).create? %>
      <%= link_to new_member_path, class: 'btn btn-primary' do %>
      Add Project
      <% end %>
      <% end %>
    </h1>
    <p class="lead text-muted">
      Le Conseil Scientifique évalue les dispositifs proposés par les groupes de travail, teste les prototypes et
      participe à leur validation, avant de coordonner leur mise en fabrication par notre plateforme et nos relais
      industriels.
    </p>
  </div>
</section>

<div class="table-responsive">
  <table class="table table-hover">
    <tbody>
      <% @members.each do |member| %>
      <%= content_tag :tr, id: dom_id(member), class: dom_class(member) do %>
      <td><b><%= member.first_name + " " + member.last_name %></b></td>
      <td><%= member.job %></td>
      <td><%= mail_to member.email %></td>
      <td></td>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>