<div class="page-header">
  <%= link_to members_path, class: 'btn btn-default' do %>
    All Members
  <% end %>
  <%= link_to edit_member_path(@member), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show member</h1>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @member.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @member.last_name %></dd>

  <dt>Job:</dt>
  <dd><%= @member.job %></dd>

  <dt>Email:</dt>
  <dd><%= @member.email %></dd>

</dl>
